Android Open Source Project
Google
Proton Mail
Raspberry Pi
gsconnect
nvim
Thunar
VSCodium
autostart
btop
calcurse
clerk
configstore
content_shell
create-next-app-nodejs
dconf
enchant
evolution
fontconfig
fontforge
gh
gitui
glib-2.0
gnome-session
goa-1.0
gpick
gtk-3.0
gtk-4.0
hardhat-nodejs
htop
ibus
lazygit
libreoffice
nautilus
net.imput.helium
nextjs-nodejs
opencode
org.keshavnrj.ubuntu
pulse
remixdesktop
s-tui
thorium
totem
unity3d
uv
vivaldi
xfce4
xpad
yelp
zed
QtProject.conf
gnome-xdg=terminals.list
mimeapps.list
monitors.xml
monitors.xml~
user-dirs.dirs
user-dirs.locale
xdg-terminals.list
gnome-xdg-terminals.list
.gsd-keyboard.settings-ported
